# Ejercicio ClassicModels MySQL

## Instalación MySQL y descarga e instalación de módulos en el entorno python

Este proceso de instalación puede tardar entre 1 y 2 minutos. PACIENCIA. Se trata de instalar un servidor MySQL en la máquina virtual, no siendo necesario conectarse a ningún otro servicio.

In [1]:
#mysql 5.7
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"
!pip3 install mysql-connector-python
!pip3 install sqlalchemy

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 41.2 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.9/dist-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy) (2.0.2)

## Montar Drive y setear PATH
En el menú laterial izquierdo, seleccionamos la carpeta y allí pulsamos sobre la carpeta de drive y seguimos los pasos correspondientes.

Posteriormente, buscamos nuestra carpeta y copiamos el path de la que contiene todos los archivos que estamos trabajando y incluimos ese path como variable DRIVE_PATH.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
DRIVE_PATH = "/content/drive/MyDrive/Master Data Science/SQL"

## Importación librearías mysql y sqlalchemy
Una vez instalados los módulos en nuestro entorno, es necesario que las importemos al notebook. **Importaremos sqlalchemy y, como no, pandas.**

In [4]:
# sqlalchemy create_engine
import sqlalchemy
# pandas
import pandas as pd
# mysql
import mysql
import time

## Instanciamos el motor de gestión de la base de datos

Cualquier consulta o actuación que hagamos a la base de datos debe canalizarse a través de una "conexión" de un "engine" o motor de sqlalchemy. La instancia del "engine" debe realizarse indicando la cadena de conexión correspondiente. La cadena es un string que le indica al "engine" cuál es la base de datos, cuál es el conector, el usuario que lo va a utilizar y dónde se encuentra alojado.

- cadena_conexion --> mysql+mysqlconnector://usuario_mysql:password_mysql@sevidorMySQL/bbdd
- con --> conexión del engine create_engine(cadena).connect()

Vamos a trabajar con bases de datos que hemos creado en la propia máquina virtual, con lo que el string de conexión es muy sencillo:

- Servidor: localhost
- Base de datos: por ahora nada, la crearemos después
- Usuario: root
- Contraseña: root

In [5]:
# cadena de conexión
sCadenaConexion = f"mysql+mysqlconnector://root:root@localhost"

# instanciamos engine como resultado de create_engine
con = sqlalchemy.create_engine(sCadenaConexion).connect()
time.sleep(2)

## Creación de tablas e inserción de datos
Vamos a crear las tablas con los datos correspondientes ejecutando dos archivos SQL a través de SQLAlchemy.

In [6]:
fSQL = open(DRIVE_PATH + "/data/Clean.sql")
aSQL = fSQL.read().split(";\n")
for sSQL in aSQL:
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));
  time.sleep(3)

<ipython-input-6-5dc82f1e9875>:4: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));

In [7]:
con.execute("use nuclio_classicmodels");
time.sleep(1)

In [8]:
result = con.execute("show databases")
for row in result:
  print(row)
result = con.execute("show tables")
for row in result:
  print(row)

('information_schema',)
('mysql',)
('nuclio_classicmodels',)
('performance_schema',)
('sys',)

In [9]:
fSQL = open(DRIVE_PATH + "/data/Esquema.sql");
aSQL = fSQL.read().split(";\n");
for sSQL in aSQL:
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));
  time.sleep(1)

In [10]:
fSQL = open(DRIVE_PATH + "/data/Data.sql");
aSQL = fSQL.read().split(";\n");
for sSQL in aSQL:
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));
  time.sleep(1)

## SELECT, OPERACIONES BÁSICAS Y FILTROS
Vamos a entender cómo funciona la SELECT a nivel básico.

El lenguaje SQL es case insensitive, por lo que puede escribirse tanto en mayúsculas como en minúsculas, incluidos los nombres de las columnas en MySQL (depende del motor de BBDD).

####Tabla Employees

* Con la QUERY "DESC employees" podemos listar todos los campos de la tabla employees

In [ ]:
query = """
DESC employees
"""
pd.read_sql(query,con)

            Field             Type Null  Key Default Extra
0  employeeNumber           b'int'   NO  PRI    None
1        lastName   b'varchar(50)'   NO         None
2       firstName   b'varchar(50)'   NO         None
3       extension   b'varchar(10)'   NO         None
4           email  b'varchar(100)'   NO         None
5      officeCode   b'varchar(10)'   NO  MUL    None
6       reportsTo           b'int'  YES  MUL    None
7        jobTitle   b'varchar(50)'   NO         None

* "*" nos va a mostrar todos los campos de una tabla

In [ ]:
sql="""
SELECT *
FROM employees
"""
empleados = pd.read_sql(sql,con)

### CONCAT: Lista el apellido y nombre de los empleados (formato Apellido, Nombre en un mismo campo), así como su email y cargo.
- Tabla Employees

In [ ]:
sql="""
SELECT CONCAT(lastname, ',',firsname) AS Apellido_Nombre,
  jobtitle,
  email
FROM employees
"""
pd.read_sql(sql,con)

ProgrammingError: ignored

### Ordénalos por orden alfabético de apellido, nombre y el e-mail
- Tabla Employees

In [ ]:
sql="""
SELECT lastName,firstName,email
FROM employees
ORDER BY firstName,lastName
"""
pd.read_sql(sql,con)

     lastName firstName                            email
0      Fixter      Andy     afixter@classicmodelcars.com
1         Bow   Anthony        abow@classicmodelcars.com
2       Jones     Barry      bjones@classicmodelcars.com
3      Murphy     Diane     dmurphy@classicmodelcars.com
4       Tseng  Foon Yue      ftseng@classicmodelcars.com
5      Vanauf    George     gvanauf@classicmodelcars.com
6      Bondur    Gerard     gbondur@classicmodelcars.com
7   Hernandez    Gerard   ghernande@classicmodelcars.com
8    Firrelli      Jeff   jfirrelli@classicmodelcars.com
9    Firrelli     Julie   jfirrelli@classicmodelcars.com
10       Bott     Larry       lbott@classicmodelcars.com
11   Jennings    Leslie   ljennings@classicmodelcars.com
12   Thompson    Leslie   lthompson@classicmodelcars.com
13     Bondur      Loui     lbondur@classicmodelcars.com
14      Nishi      Mami      mnishi@classicmodelcars.com
15     Gerard    Martin     mgerard@classicmodelcars.com
16  Patterson      Mary   mpatterso@classicmodelcars.com
17   Castillo    Pamela   pcastillo@classicmodelcars.com
18      Marsh     Peter      pmarsh@classicmodelcars.com
19  Patterson     Steve  spatterson@classicmodelcars.com
20       King       Tom       tking@classicmodelcars.com
21  Patterson   William  wpatterson@classicmodelcars.com
22       Kato   Yoshimi       ykato@classicmodelcars.com

### Lista los productos (código, nombre, línea, escala y cantidad) que corresponden a la escala 1:18

In [ ]:
sql= """
DESC products
"""

In [ ]:
sql="""
SELECT ProductCode, ProductName, productline, productScale,quantityinStock
FROM products
WHERE productScale = "1:18"
"""
pd.read_sql(sql,con)

,ProductCode,ProductName,productline,productScale,quantityinStock
0,S12_3148,1969 Corvair Monza,Classic Cars,1:18,6906
1,S18_1097,1940 Ford Pickup Truck,Trucks and Buses,1:18,2613
2,S18_1129,1993 Mazda RX-7,Classic Cars,1:18,3975
3,S18_1342,1937 Lincoln Berline,Vintage Cars,1:18,8693
4,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,1:18,8635
5,S18_1589,1965 Aston Martin DB5,Classic Cars,1:18,9042
6,S18_1662,1980s Black Hawk Helicopter,Planes,1:18,5330
7,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,2724
8,S18_1889,1948 Porsche 356-A Roadster,Classic Cars,1:18,8826
9,S18_1984,1995 Honda Civic,Classic Cars,1:18,9772
10,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,4724
11,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,540
12,S18_2319,1964 Mercedes Tour Bus,Trucks and Buses,1:18,8258
13,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,9354
14,S18_2432,1926 Ford Fire Engine,Trucks and Buses,1:18,2018
15,S18_2625,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,4357
16,S18_2795,1928 Mercedes-Benz SSK,Vintage Cars,1:18,548
17,S18_2870,1999 Indy 500 Monte Carlo SS,Classic Cars,1:18,8164
18,S18_2949,1913 Ford Model T Speedster,Vintage Cars,1:18,4189
19,S18_2957,1934 Ford V8 Coupe,Vintage Cars,1:18,5649
20,S18_3029,1999 Yamaha Speed Boat,Ships,1:18,4259
21,S18_3136,18th Century Vintage Horse Carriage,Vintage Cars,1:18,5992
22,S18_3140,1903 Ford Model A,Vintage Cars,1:18,3913
23,S18_3232,1992 Ferrari 360 Spider red,Classic Cars,1:18,8347
24,S18_3233,1985 Toyota Supra,Classic Cars,1:18,7733
25,S18_3259,Collectable Wooden Train,Trains,1:18,6450
26,S18_3278,1969 Dodge Super Bee,Classic Cars,1:18,1917
27,S18_3320,1917 Maxwell Touring Car,Vintage Cars,1:18,7913
28,S18_3482,1976 Ford Gran Torino,Classic Cars,1:18,9127
29,S18_3685,1948 Porsche Type 356 Roadster,Classic Cars,1:18,8990
30,S18_3782,1957 Vespa GS150,Motorcycles,1:18,7689
31,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Vintage Cars,1:18,2378
32,S18_4027,1970 Triumph Spitfire,Classic Cars,1:18,5545
33,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,6553
34,S18_4522,1904 Buick Runabout,Vintage Cars,1:18,8290
35,S18_4600,1940s Ford truck,Trucks and Buses,1:18,3128
36,S18_4668,1939 Cadillac Limousine,Vintage Cars,1:18,6645
37,S18_4721,1957 Corvette Convertible,Classic Cars,1:18,1249
38,S18_4933,1957 Ford Thunderbird,Classic Cars,1:18,3209
39,S24_3856,1956 Porsche 356A Coupe,Classic Cars,1:18,6600
40,S24_4620,1961 Chevrolet Impala,Classic Cars,1:18,7869
41,S700_2824,1982 Camaro Z28,Classic Cars,1:18,6934

####Tabla products

### Y de los que son escala 1:18, ahora busca los que pertenecen al proveedor "Classic Metal Creations"

In [ ]:
sql= """
SELECT productName, productCode,productLine,productScale,productVendor
FROM products
WHERE productScale = "1:18" AND productVendor="Classic Metal Creations"
"""

pd.read_sql(sql,con)

,productName,productCode,productLine,productScale,productVendor
0,1965 Aston Martin DB5,S18_1589,Classic Cars,1:18,Classic Metal Creations
1,1957 Corvette Convertible,S18_4721,Classic Cars,1:18,Classic Metal Creations
2,1956 Porsche 356A Coupe,S24_3856,Classic Cars,1:18,Classic Metal Creations
3,1961 Chevrolet Impala,S24_4620,Classic Cars,1:18,Classic Metal Creations

**Ejercicio** :Lista el numero y nombre de los clientes pertenecientes a USA(formato Numero: Nombre en un mismo campo), así como su telefono.

In [ ]:
sql="""
DESC customers
"""
pd.read_sql(sql,con)

                     Field              Type Null  Key Default Extra
0           customerNumber            b'int'   NO  PRI    None
1             customerName    b'varchar(50)'   NO         None
2          contactLastName    b'varchar(50)'   NO         None
3         contactFirstName    b'varchar(50)'   NO         None
4                    phone    b'varchar(50)'   NO         None
5             addressLine1    b'varchar(50)'   NO         None
6             addressLine2    b'varchar(50)'  YES         None
7                     city    b'varchar(50)'   NO         None
8                    state    b'varchar(50)'  YES         None
9               postalCode    b'varchar(15)'  YES         None
10                 country    b'varchar(50)'   NO         None
11  salesRepEmployeeNumber            b'int'  YES  MUL    None
12             creditLimit  b'decimal(10,2)'  YES         None

In [ ]:
sql = """
SELECT phone, CONCAT(customerNumber, ':', customerName) AS Numb_Name
FROM customers
WHERE country = "USA"
"""

pd.read_sql(sql,con)

         phone                         Numb_Name
0   7025551838            112:Signal Gift Stores
1   4155551450  124:Mini Gifts Distributors Ltd.
2   6505555787               129:Mini Wheels Co.
3   2125557818             131:Land of Toys Inc.
4   2125557413            151:Muscle Machine Inc
5   2155551555         157:Diecast Classics Inc.
6   6505556809          161:Technics Stores Inc.
7   2035557845        168:American Souvenirs Inc
8   6175555555    173:Cambridge Collectables Co.
9   2035552570               175:Gift Depot Inc.
10  2125551500               181:Vitachrome Inc.
11  6175558428       198:Auto-Moto Classics Inc.
12  6175557555      204:Online Mini Collectables
13  6265557265             205:Toys4GrownUps.com
14  3105552373             219:Boards & Toys Co.
15  7605558146  239:Collectable Mini Designs Co.
16  6175558555          286:Marta's Replicas Co.
17  9145554562                 319:Mini Classics
18  5085559555           320:Mini Creations Ltd.
19  6505551386      321:Corporate Gift Ideas Co.
20  2015559350       328:Tekni Collectables Inc.
21  2155554695       339:Classic Gift Ideas, Inc
22  2155554369    347:Men 'R' US Retailers, Ltd.
23  6175559555             362:Gifts4AllAges.com
24  6035558647  363:Online Diecast Creations Co.
25  6175558555    379:Collectables For Less Inc.
26  2125558493          424:Classic Legends Inc.
27  2035554407              447:Gift Ideas Corp.
28  4085553659     450:The Sharp Gifts Warehouse
29  2035559545              455:Super Scale Inc.
30  2125551957               456:Microscale Inc.
31  5085552555              462:FunGiftIdeas.com
32  3105553722   475:West Coast Collectables Co.
33  2155559857  486:Motor Mint Distributors Inc.
34  4155554312      487:Signal Collectibles Ltd.
35  6175552555          495:Diecast Collectables

### De los productos, lista únicamente aquellos que sabemos que son "Corvette" por su nombre y ordénalos por cantidad en stock ascendiente.

La cláusula LIKE permite realizar búsquedas por patrones (cuidado con la versión de MySQL que puede que algunos patrones no estén todavía habilitados).

- % significa cualquier carácter (p.e. n% cualquier palabra que empiece por n)
- _ significa que debe existir un carácter cualquiera (p.e. l__ sería los, las, les, lis...)

A partir de aquí se pueden combinar estas "wildcards".

Por otro lado, tenemos las búsquedas case sensitive/in-sensitive, es decir, búsquedas que deben respetar las mayúsculas o no. Puede ser que no queramos interpretar U como u. Los tipos de fuentes NO binarios, son no sensitivas, mientras que los tipos binarios sí que lo son. Si queremos que sea sensitiva, deberemos forzar el tipo de dato en la búsqueda a través del operador BINARY.

- Utilizar BINARY antes de la operación lógica (p.e. LIKE BINARY "maYúsCulas")

Eso sí, si un campo es susceptible de requerir búsquedas sensibles, lo mejor es alterar su definición para que sea del tipo binaria.

In [ ]:
sql="""
SELECT productName
FROM products
WHERE productName LIKE "%Corvette"
"""

pd.read_sql(sql,con)

           productName
0  2002 Chevy Corvette

* **Ejercicio**: Y si solo queremos los productos que terminen en Corvette?

### DISTINCT: Listar los proveedores/fabricantes (vendors) únicos de los productos ordenados alfabéticamente

In [ ]:
sql = """
SELECT DISTINCT productVendor, productName
FROM products
ORDER BY productName
"""
pd.read_sql(sql,con)

                 productVendor                          productName
0     Carousel DieCast Legends                18th century schooner
1            Red Start Diecast  18th Century Vintage Horse Carriage
2        Autoart Studio Design               1900s Vintage Bi-Plane
3         Unimax Art Galleries              1900s Vintage Tri-Plane
4         Unimax Art Galleries                    1903 Ford Model A
..                         ...                                  ...
105        Studio M Art Models                        The Mayflower
106  Welly Diecast Productions                       The Queen Mary
107      Autoart Studio Design                The Schooner Bluenose
108   Carousel DieCast Legends                          The Titanic
109          Red Start Diecast            The USS Constitution Ship

[110 rows x 2 columns]

**Ejercicio**: Listar los codigos postales de los clientes (únicos)

- Tabla customers

In [ ]:
sql="""
DESC customers
"""
pd.read_sql(sql,con)

                     Field              Type Null  Key Default Extra
0           customerNumber            b'int'   NO  PRI    None
1             customerName    b'varchar(50)'   NO         None
2          contactLastName    b'varchar(50)'   NO         None
3         contactFirstName    b'varchar(50)'   NO         None
4                    phone    b'varchar(50)'   NO         None
5             addressLine1    b'varchar(50)'   NO         None
6             addressLine2    b'varchar(50)'  YES         None
7                     city    b'varchar(50)'   NO         None
8                    state    b'varchar(50)'  YES         None
9               postalCode    b'varchar(15)'  YES         None
10                 country    b'varchar(50)'   NO         None
11  salesRepEmployeeNumber            b'int'  YES  MUL    None
12             creditLimit  b'decimal(10,2)'  YES         None

In [ ]:
sql = """
SELECT DISTINCT postalCode
FROM customers
ORDER BY postalCode
"""
pd.read_sql(sql,con)

   postalCode
0        None
1    530-0003
2        0028
3      01-012
4       01307
..        ...
90    T2F 8M4
91    V3F 2K1
92    WA1 1DP
93    WX1 6LT
94    WX3 6FW

[95 rows x 1 columns]

### COUNT: Cuanta los códigos postales únicos de los clientes

- Tabla customers

In [ ]:
sql = """
SELECT COUNT(DISTINCT postalCode) AS num_postalcode
FROM customers
"""
pd.read_sql(sql,con)

   num_postalcode
0              94

**Ejercicio**: Cuenta el número total de clientes **únicos**

- Tabla customers

In [ ]:
sql="""
DESC customers
"""
pd.read_sql(sql,con)

                     Field              Type Null  Key Default Extra
0           customerNumber            b'int'   NO  PRI    None
1             customerName    b'varchar(50)'   NO         None
2          contactLastName    b'varchar(50)'   NO         None
3         contactFirstName    b'varchar(50)'   NO         None
4                    phone    b'varchar(50)'   NO         None
5             addressLine1    b'varchar(50)'   NO         None
6             addressLine2    b'varchar(50)'  YES         None
7                     city    b'varchar(50)'   NO         None
8                    state    b'varchar(50)'  YES         None
9               postalCode    b'varchar(15)'  YES         None
10                 country    b'varchar(50)'   NO         None
11  salesRepEmployeeNumber            b'int'  YES  MUL    None
12             creditLimit  b'decimal(10,2)'  YES         None

In [ ]:
sql = """
SELECT COUNT(DISTINCT customerNumber) AS num_cliente
FROM customers
"""
pd.read_sql(sql,con)

   num_cliente
0          122

### BETWEEN:Cuenta el número de clientes con un límite de crédito entre 60.000 y 70.000

In [ ]:
sql = """
SELECT COUNT(DISTINCT creditLimit) AS Limite de credito
FROM customers
WHERE creditLimit BETWEEN 60000 AND 70000
"""
pd.read_sql(sql,con)

ProgrammingError: ignored

### Lista las ciudades y países únicos en los que la empresa tiene clientes, por orden ascendente de ciudad y país
- Tabla customers
- Por favor, concatena la ciudad y el país con una coma.

In [ ]:
sql = """
SELECT DISTINCT CONCAT(city, ',', country) AS city_country 
FROM customers
ORDER BY city_country
"""
pd.read_sql(sql,con)

NameError: ignored

### Cuenta el número de clientes que han realizado un pedido o más

- ¿Cuántas formas hay de hacerlo? Forma sencilla o con una subquery de la tabla customers
* Tabla orders

In [ ]:
sql="""
DESC orders
"""
pd.read_sql(sql,con)

            Field            Type Null  Key Default Extra
0     orderNumber          b'int'   NO  PRI    None
1       orderDate         b'date'   NO         None
2    requiredDate         b'date'   NO         None
3     shippedDate         b'date'  YES         None
4          status  b'varchar(15)'   NO         None
5        comments         b'text'  YES         None
6  customerNumber          b'int'   NO  MUL    None

In [ ]:
sql= """
SELECT COUNT(DISTINCT customerNumber)
WHERE
FROM orders
"""

pd.read_sql(sql,con)

   COUNT(DISTINCT customerNumber)
0                              98

Con el dictinct slo cuenta numero de clientes, agrupa los que han hecho pedidos distintos

**Ejercicio**: Lista los clientes que NO han realizado ningún pedido y que NO son de USA.

In [ ]:
sql= """
SELECT customerNumber, country
FROM customers
WHERE country!="USA" AND CustomerNumber NOT IN (
SELECT customerNumber
FROM orders
"""

pd.read_sql(sql,con)

ProgrammingError: ignored

### Listar los pedidos que se han hecho en el 2005 y que ya han sido enviados

1. Investigar qué status existen y ver si pueden sernos útiles
2. Por curiosidad, miremos el mínimo y máximo de fechas de los pedidos
3. Veamos si existen otros campos que puedan sernos de utilidad
4. Decidamos cómo hacer la búsqueda solicitada

In [ ]:
sql= """
SELECT DISTINCT status
FROM orders
"""
pd.read_sql(sql,con)

       status
0     Shipped
1    Resolved
2   Cancelled
3     On Hold
4    Disputed
5  In Process

In [ ]:
sql="""
SELECT MIN(OrderDate),MAX(orderDate)
FROM orders
"""

pd.read_sql(sql,con)

  MIN(OrderDate) MAX(orderDate)
0     2003-01-06     2005-05-31

In [ ]:
sql="""
SELECT orderNumber,status,orderDate
FROM orders
WHERE status="Shipped" AND YEAR(orderDate)=2005
"""

pd.read_sql(sql,con)

    orderNumber   status   orderDate
0         10362  Shipped  2005-01-05
1         10363  Shipped  2005-01-06
2         10364  Shipped  2005-01-06
3         10365  Shipped  2005-01-07
4         10366  Shipped  2005-01-10
5         10368  Shipped  2005-01-19
6         10369  Shipped  2005-01-20
7         10370  Shipped  2005-01-20
8         10371  Shipped  2005-01-23
9         10372  Shipped  2005-01-26
10        10373  Shipped  2005-01-31
11        10374  Shipped  2005-02-02
12        10375  Shipped  2005-02-03
13        10376  Shipped  2005-02-08
14        10377  Shipped  2005-02-09
15        10378  Shipped  2005-02-10
16        10379  Shipped  2005-02-10
17        10380  Shipped  2005-02-16
18        10381  Shipped  2005-02-17
19        10382  Shipped  2005-02-17
20        10383  Shipped  2005-02-22
21        10384  Shipped  2005-02-23
22        10385  Shipped  2005-02-28
23        10387  Shipped  2005-03-02
24        10388  Shipped  2005-03-03
25        10389  Shipped  2005-03-03
26        10390  Shipped  2005-03-04
27        10391  Shipped  2005-03-09
28        10392  Shipped  2005-03-10
29        10393  Shipped  2005-03-11
30        10394  Shipped  2005-03-15
31        10395  Shipped  2005-03-17
32        10396  Shipped  2005-03-23
33        10397  Shipped  2005-03-28
34        10398  Shipped  2005-03-30
35        10399  Shipped  2005-04-01
36        10400  Shipped  2005-04-01
37        10402  Shipped  2005-04-07
38        10403  Shipped  2005-04-08
39        10404  Shipped  2005-04-08
40        10405  Shipped  2005-04-14
41        10408  Shipped  2005-04-22
42        10409  Shipped  2005-04-23
43        10410  Shipped  2005-04-29
44        10411  Shipped  2005-05-01
45        10412  Shipped  2005-05-03
46        10413  Shipped  2005-05-05
47        10416  Shipped  2005-05-10
48        10418  Shipped  2005-05-16
49        10419  Shipped  2005-05-17

**Ejercicio**: Lista los pedidos que fueron enviados y transcurrieron mas de 4 dias en ser enviados

In [ ]:
sql="""
DESC orders
"""
pd.read_sql(sql,con)

            Field            Type Null  Key Default Extra
0     orderNumber          b'int'   NO  PRI    None
1       orderDate         b'date'   NO         None
2    requiredDate         b'date'   NO         None
3     shippedDate         b'date'  YES         None
4          status  b'varchar(15)'   NO         None
5        comments         b'text'  YES         None
6  customerNumber          b'int'   NO  MUL    None

In [ ]:
sql="""
SELECT *
FROM orders
WHERE status="Shipped" AND DATEDIFF(shippedDate,OrderDate)>4
"""

pd.read_sql(sql,con)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10108,2003-03-03,2003-03-12,2003-03-08,Shipped,None,385
1,10111,2003-03-25,2003-03-31,2003-03-30,Shipped,None,129
2,10112,2003-03-24,2003-04-03,2003-03-29,Shipped,Customer requested that ad materials (such as ...,144
3,10118,2003-04-21,2003-04-29,2003-04-26,Shipped,Customer has worked with some of our vendors i...,216
4,10121,2003-05-07,2003-05-13,2003-05-13,Shipped,None,353
...,...,...,...,...,...,...,...
101,10396,2005-03-23,2005-04-02,2005-03-28,Shipped,None,124
102,10402,2005-04-07,2005-04-14,2005-04-12,Shipped,None,406
103,10405,2005-04-14,2005-04-24,2005-04-20,Shipped,None,209
104,10408,2005-04-22,2005-04-29,2005-04-27,Shipped,None,398
105,10411,2005-05-01,2005-05-08,2005-05-06,Shipped,None,233

In [ ]:
sql="""
SELECT *
FROM orders
WHERE status="Shipped" AND DATEDIFF(shippedDate,OrderData)>4
"""

pd.read_sql(sql,con)

ProgrammingError: ignored

**Ejercicio**: Lista los pedidos que fueron cancelados o en proceso y tienen como fecha de pedido Mayo de 2005

In [ ]:
sql="""
SELECT *
FROM orders
WHERE status="Cancelled" OR status="In Process" AND YEAR(orderDate)=2005 AND MONTH(orderDate)=5
/*WHERE status IN("Cancelled", "In Process")AND orderDate>='2005-05-01' AND orderDate <='2005-05-31'*/
"""

pd.read_sql(sql,con)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10167,2003-10-23,2003-10-30,None,Cancelled,Customer called to cancel. The warehouse was n...,448
1,10179,2003-11-11,2003-11-17,2003-11-13,Cancelled,Customer cancelled due to urgent budgeting iss...,496
2,10248,2004-05-07,2004-05-14,None,Cancelled,Order was mistakenly placed. The warehouse not...,131
3,10253,2004-06-01,2004-06-09,2004-06-02,Cancelled,Customer disputed the order and we agreed to c...,201
4,10260,2004-06-16,2004-06-22,None,Cancelled,Customer heard complaints from their customers...,357
5,10262,2004-06-24,2004-07-01,None,Cancelled,This customer found a better offer from one of...,141
6,10420,2005-05-29,2005-06-07,None,In Process,None,282
7,10421,2005-05-29,2005-06-06,None,In Process,Custom shipping instructions were sent to ware...,124
8,10422,2005-05-30,2005-06-11,None,In Process,None,157
9,10423,2005-05-30,2005-06-05,None,In Process,None,314
10,10424,2005-05-31,2005-06-08,None,In Process,None,141
11,10425,2005-05-31,2005-06-07,None,In Process,None,119

## GROUP BY
Agrupaciones y operaciones

### Calcular el número de empleados por cargo
- Tabla employees
- Ordenado ascendente por nombre del cargo

In [ ]:
sql = """
SELECT COUNT(employeeNumber),jobtitle
FROM employees
GROUP BY jobtitle
ORDER BY jobtitle
"""

pd.read_sql(sql,con)

   COUNT(employeeNumber)              jobtitle
0                      1             President
1                      1   Sale Manager (EMEA)
2                      1  Sales Manager (APAC)
3                      1    Sales Manager (NA)
4                     17             Sales Rep
5                      1          VP Marketing
6                      1              VP Sales

### ¿Cuantos productos hay de cada tipo de escala?

In [ ]:
sql = """
SELECT COUNT(productCode),productScale
FROM products
GROUP BY productScale
"""

pd.read_sql(sql,con)

   COUNT(productCode) productScale
0                   6         1:10
1                   9         1:12
2                  42         1:18
3                   4         1:72
4                  27         1:24
5                   8         1:32
6                   4         1:50
7                  10        1:700

## Número de empleados por cargo ordenados de más a menos número
- Tabla employees

In [ ]:
sql="""
SELECT COUNT(employeeNumber),jobTitle
FROM employees
GROUP BY jobTitle
HAVING COUNT(employeeNumber)>5 /*SELECCIONADO SOLO LOS CARGOS CON MÁS DE 5 EMPLEADOS*/
ORDER BY COUNT(employeeNumber) DESC
"""

pd.read_sql(sql,con)

   COUNT(employeeNumber)   jobTitle
0                     17  Sales Rep

### Listar el número de proveedores (vendors) que tenemos, así como el número de productos distintos y el stock total para cada proveedor, ordenador por nombre del proveedor.

- Formatear la cantidad para que aparezca el punto de miles y con céntimos de euro vía coma (FORMAT(num,numDec,locale) 'es_ES'

In [ ]:
sql="""
SELECT productVendor,COUNT(DISTINCT productCode),FORMAT(SUM(quantityinStock),2,'es_ES')
FROM products
GROUP BY productVendor
"""

pd.read_sql(sql,con)

,productVendor,COUNT(DISTINCT productCode),"FORMAT(SUM(quantityinStock),2,'es_ES')"
0,Autoart Studio Design,8,"30.093,00"
1,Carousel DieCast Legends,9,"40.805,00"
2,Classic Metal Creations,10,"45.408,00"
3,Exoto Designs,9,"44.166,00"
4,Gearbox Collectibles,9,"60.495,00"
5,Highway 66 Mini Classics,9,"37.520,00"
6,Min Lin Diecast,8,"50.089,00"
7,Motor City Art Classics,9,"43.105,00"
8,Red Start Diecast,7,"35.046,00"
9,Second Gear Diecast,8,"42.865,00"
10,Studio M Art Models,8,"42.253,00"
11,Unimax Art Galleries,8,"38.191,00"
12,Welly Diecast Productions,8,"45.095,00"

### Lista de proveedores (vendors) con más de 35000 unidades en stock ordenados por nombre de proveedor

In [ ]:
sql="""
SELECT productVendor,COUNT(DISTINCT productCode),FORMAT(SUM(quantityinStock),2,'es_ES')
FROM products
GROUP BY productVendor
HAVING SUM(quantityinstock) > 35000
ORDER BY productVendor
"""

pd.read_sql(sql,con)

,productVendor,COUNT(DISTINCT productCode),"FORMAT(SUM(quantityinStock),2,'es_ES')"
0,Carousel DieCast Legends,9,"40.805,00"
1,Classic Metal Creations,10,"45.408,00"
2,Exoto Designs,9,"44.166,00"
3,Gearbox Collectibles,9,"60.495,00"
4,Highway 66 Mini Classics,9,"37.520,00"
5,Min Lin Diecast,8,"50.089,00"
6,Motor City Art Classics,9,"43.105,00"
7,Red Start Diecast,7,"35.046,00"
8,Second Gear Diecast,8,"42.865,00"
9,Studio M Art Models,8,"42.253,00"
10,Unimax Art Galleries,8,"38.191,00"
11,Welly Diecast Productions,8,"45.095,00"

In [ ]:
sql="""
SELECT productVendor,COUNT(DISTINCT productCode),FORMAT(SUM(quantityinStock),2,'es_ES')
FROM products
WHERE buyPrice>50
GROUP BY productVendor
HAVING SUM(quantityinstock) > 35000
ORDER BY productVendor
"""

pd.read_sql(sql,con)

,productVendor,COUNT(DISTINCT productCode),"FORMAT(SUM(quantityinStock),2,'es_ES')"
0,Exoto Designs,8,"37.613,00"
1,Gearbox Collectibles,6,"41.661,00"

### Listar el número de pedidos por año (de pedido) y status que NO han sido enviados

In [ ]:
sql="""
SELECT COUNT(ordernumber),status,YEAR(orderDate)
FROM orders
WHERE status != "Shipped"
GROUP BY status,YEAR(orderDate)
"""

pd.read_sql(sql,con)

   COUNT(ordernumber)      status  YEAR(orderDate)
0                   1    Resolved             2003
1                   2   Cancelled             2003
2                   4   Cancelled             2004
3                   1    Resolved             2004
4                   1     On Hold             2004
5                   2    Resolved             2005
6                   3     On Hold             2005
7                   3    Disputed             2005
8                   6  In Process             2005

**Ejercicio**: Número de clientes por país para países con más de 5 clientes, de más cantidad a menos

In [ ]:
sql="""
DESC customers
"""

pd.read_sql(sql,con)

                     Field              Type Null  Key Default Extra
0           customerNumber            b'int'   NO  PRI    None
1             customerName    b'varchar(50)'   NO         None
2          contactLastName    b'varchar(50)'   NO         None
3         contactFirstName    b'varchar(50)'   NO         None
4                    phone    b'varchar(50)'   NO         None
5             addressLine1    b'varchar(50)'   NO         None
6             addressLine2    b'varchar(50)'  YES         None
7                     city    b'varchar(50)'   NO         None
8                    state    b'varchar(50)'  YES         None
9               postalCode    b'varchar(15)'  YES         None
10                 country    b'varchar(50)'   NO         None
11  salesRepEmployeeNumber            b'int'  YES  MUL    None
12             creditLimit  b'decimal(10,2)'  YES         None

In [ ]:
sql="""
SELECT COUNT(customerNumber), country
FROM customers
GROUP BY country
HAVING COUNT(customernumber)>5
ORDER BY COUNT(customerNumber) DESC
"""

pd.read_sql(sql,con)

   COUNT(customerNumber)  country
0                     36      USA
1                     13  Germany
2                     12   France
3                      7    Spain

In [ ]:
sql="""
SELECT COUNT(customerNumber), country
FROM customers
GROUP BY 2
HAVING COUNT(customernumber)>5
ORDER BY 1 DESC
"""

pd.read_sql(sql,con)

   COUNT(customerNumber)  country
0                     36      USA
1                     13  Germany
2                     12   France
3                      7    Spain

con el index 2 y el 1 te permite seleccionar las filas que te interesan

**Ejercicio**: Numero de pedidos registrados el año 2005 por mes y estado del pedido

In [ ]:
sql="""
SELECT COUNT(orderNumber), MONTH(orderDate),status
FROM orders
WHERE YEAR(orderDate)=2005
GROUP BY MONTH(orderDate), status
/*HAVING COUNT(OrderNumber)>3*/
"""

pd.read_sql(sql,con)

    COUNT(orderNumber)  MONTH(orderDate)      status
0                   11                 1     Shipped
1                    1                 1    Resolved
2                   12                 2     Shipped
3                    1                 3    Resolved
4                   12                 3     Shipped
5                    9                 4     Shipped
6                    2                 4     On Hold
7                    1                 4    Disputed
8                    6                 5     Shipped
9                    1                 5     On Hold
10                   2                 5    Disputed
11                   6                 5  In Process

**Ejercicio**: ¿Cual es el tiempo minimo de espera entre el recibo de una orden y su envío por cliente? (Solo ten en cuenta si el tiempo es igual o superior a 1 dia)

In [ ]:
sql="""
SELECT customerNumber, MIN(shippedDate-orderdate)
FROM orders
GROUP BY customerNumber
HAVING MIN(shippedDate-orderdate)
"""

pd.read_sql(sql,con)

    customerNumber  MIN(shippedDate-orderdate)
0              103                           1
1              112                           1
2              114                           1
3              119                           1
4              121                           3
..             ...                         ...
93             486                           1
94             487                           2
95             489                           4
96             495                           2
97             496                           2

[98 rows x 2 columns]

Having, campos agregados, campos nuevos
el Where para campos que ya están en la tabla

In [ ]:
orderdate
shippeddate

### Promedio de límite de crédito por **país del cliente** para los clientes que tienen límite > 0
- Tabla customers
- Hacer que el promedio sea un número entero
- Ordenar de menor a mayor crédito promedio
- Incluir el número de clientes que forman parte de ese promedio

En función de la versión de MySQL, el casting tiene tipos de datos distintos. En Google Colaboratory trabajamos con 5.7, donde no existe INT y se utiliza SIGNED. Para convertir el formato de un campo usamos la expresión CAST() AS type. El type puede ser SIGNED (integer), decimal, char, date, datetime...

In [ ]:
sql="""
SELECT CAST(AVG(creditLimit) AS SIGNED), country, COUNT(customerNumber)
FROM customers
WHERE creditlimit > 0
GROUP BY country
ORDER BY AVG(creditlimit)
"""

pd.read_sql(sql,con)

    CAST(AVG(creditLimit) AS SIGNED)      country  COUNT(customerNumber)
0                              51700      Belgium                      2
1                              58500      Austria                      2
2                              58600    Hong Kong                      1
3                              69400      Ireland                      1
4                              76200       Canada                      3
5                              77692       France                     12
6                              80334          USA                     35
7                              81500  Philippines                      1
8                              84750       Sweden                      2
9                              85700      Germany                      3
10                             86060    Australia                      5
11                             87800        Japan                      2
12                             88740           UK                      5
13                             90625  New Zealand                      4
14                             91200       Norway                      3
15                             95267      Finland                      3
16                             97200        Italy                      4
17                            100850    Singapore                      2
18                            102100      Denmark                      2
19                            103560        Spain                      5
20                            141300  Switzerland                      1

El as signes es parte de CAST

EL CAST te conviert los numeros de decimal a enteros

## JOIN

In [ ]:
sql="""
SELECT e.lastName, e.firstName, o.postalcode, o.city
FROM employees e
LEFT JOIN offices o ON (o.officeCode=e.officeCode)
"""

pd.read_sql(sql,con)

     lastName firstName postalcode           city
0      Murphy     Diane      94080  San Francisco
1   Patterson      Mary      94080  San Francisco
2    Firrelli      Jeff      94080  San Francisco
3   Patterson   William   NSW 2010         Sydney
4      Bondur    Gerard      75017          Paris
5         Bow   Anthony      94080  San Francisco
6    Jennings    Leslie      94080  San Francisco
7    Thompson    Leslie      94080  San Francisco
8    Firrelli     Julie      02107         Boston
9   Patterson     Steve      02107         Boston
10      Tseng  Foon Yue      10022            NYC
11     Vanauf    George      10022            NYC
12     Bondur      Loui      75017          Paris
13  Hernandez    Gerard      75017          Paris
14   Castillo    Pamela      75017          Paris
15       Bott     Larry   EC2N 1HN         London
16      Jones     Barry   EC2N 1HN         London
17     Fixter      Andy   NSW 2010         Sydney
18      Marsh     Peter   NSW 2010         Sydney
19       King       Tom   NSW 2010         Sydney
20      Nishi      Mami   102-8578          Tokyo
21       Kato   Yoshimi   102-8578          Tokyo
22     Gerard    Martin      75017          Paris

### Lista cada empleado (nombre, apellido), con la ciudad y código postal de su oficina.

In [ ]:
sql="""
SELECT e.lastName, e.firstName, o.postalcode, o.city
FROM employees e
LEFT JOIN offices o ON (o.officeCode=e.officeCode)
WHERE o.city="San Francisco"
"""

pd.read_sql(sql,con)

    lastName firstName postalcode           city
0     Murphy     Diane      94080  San Francisco
1  Patterson      Mary      94080  San Francisco
2   Firrelli      Jeff      94080  San Francisco
3        Bow   Anthony      94080  San Francisco
4   Jennings    Leslie      94080  San Francisco
5   Thompson    Leslie      94080  San Francisco

### De los anteriores, selecciona sólo los que están en la oficina de San Francisco.

### Lista los clientes y su país, que no han hecho ningún pedido
- Ahora con la unión correspondiente
- Ordena por país

In [ ]:
sql="""
SELECT c.CustomerNumber,c.country,o.orderNumber,o.customerNumber
FROM customers c
LEFT JOIN orders o ON(o.customerNumber=c.customerNumber)
WHERE o.orderNumber IS NULL
ORDER BY o.orderNumber
"""

pd.read_sql(sql,con)

    CustomerNumber       country orderNumber customerNumber
0              348       Ireland        None           None
1              481        Israel        None           None
2              480        Russia        None           None
3              477       Germany        None           None
4              465         Spain        None           None
5              459       Germany        None           None
6              443       Germany        None           None
7              409       Germany        None           None
8              376   Switzerland        None           None
9              369      Portugal        None           None
10             361       Germany        None           None
11             356  South Africa        None           None
12             125        Poland        None           None
13             335       Germany        None           None
14             307       Germany        None           None
15             303   Netherlands        None           None
16             293   Switzerland        None           None
17             273       Germany        None           None
18             247       Germany        None           None
19             237         Spain        None           None
20             223       Germany        None           None
21             206     Singapore        None           None
22             169      Portugal        None           None
23             168           USA        None           None

Queremos encontrar los clientes de la tabla de pedidos que no han hecho ningún pedido, para ellos con el filtro de where podemos filtrar todos aquellos dentro de ordernumber que son null

Dentro del JOIN, no hay ningún orden a la hora de colocar las key fields

**Ejercicio:** Lista el nombre y la descpricion de aquellos productos que no hayan sido incluidos en ningun pedido.

In [ ]:
sql="""
SELECT p.productName,p.productDescription, od.orderNumber
FROM products p
LEFT JOIN orderdetails od ON(od.productCode=p.productCode)
LEFT JOIN orders o ON(or.ordenNumber=o.ordenNumber)

WHERE o.orderNumber IS NULL
ORDER BY o.orderNumber
"""

pd.read_sql(sql,con)

ProgrammingError: ignored

**Ejercicio**: Calcula el número promedio de productos, de unidades y el gasto medio **por pedido** de los clientes de USA.

### Qué clientes nos deben dinero y cuánto
- Tenemos que saber cuánto hemos facturado a cada cliente
- Tenemos que saber cuánto ha pagado cada cliente

#### Y ahora con la cláusula WITH si tenemos versión 8.0 de MySQL
https://dev.mysql.com/doc/refman/8.0/en/with.html

**Ejercicio:** Lista aquellos Clientes que han hecho algun pago mostrando su número de telefono y la ultima fecha en qué han pagado. Muestra los primeros 10 registros

### CASE WHEN Y UNION

* CASE WHEN: Clasifica el listado de clientes en funcion de el pago que hayan hecho: haz 3 categorias, menos de 20.000, entre 20.000 y 50.000 y mas de 50.000

* Cuantos clientes han realizado algun pedido y cuantos no?

* **Ejercicio**: Crea un campo que clasifique la cantidad de unidades encargadas por pedido: menos de 100 ,entre 100 y 200 o mas de 200. Si un pedido no tiene ninguna linea de pedido se le pondra "Sin linea de pedido" en este campo

Cuantos pedidos hay de cada tipo?

* UNION: Sirve para unir dos resultados de un SELECT. Las condiciones del UNION es que los dos resultados tengan las mismas columnas en el mismo orden. Ejemplo: Crea una lista de las direcciones de oficinas y las direcciones de los clientes.

Haz 2 listas: una con duplicados y otra sin duplicados de los codigos postales donde pueda haber un cliente o una oficina

**Ejercicio:** Crea una lista de todos los codigos postales donde se puedan recibir o enviar paquetes. En caso de que sea una oficina, el campo "Accion" contendra "E" y en caso que sea la direccion de un cliente contendra "R". La lista no puede contener duplicados

## **EJERCICIOS COMPLETOS**

1. Crea una tabla que tenga este formato:
![image.png]()

1.1 Crea un query que nos diga  qué usuarios tienen una solapación de fechas con otros usuarios

2. Lista los clientes han hecho mas de un pedido el mismo dia?

**Ejercicio entrevista Glovo:** Tienes una tabla con registros de llamadas entre 2 personas y su duración. Lista aquellos contactos que han hablado 20 minutos o mas en total
![image.png]()

In [ ]:
ssql="""
CREATE TABLE glovo2(
  PER1 INT,
  PER2 INT,
  DUR INT 
);
"""
con.execute(ssql)

In [ ]:
SSQL="""
INSERT INTO glovo2
(PER1, PER2, DUR)
VALUES
(1,2,2),
(2,1,3),
(3,1,7),
(4,3,5),
(3,2,3),
(4,1,6),
(1,4,5),
(2,3,5)
;
"""
con.execute(SSQL)